h1 {
    color: lightsteelblue;
    background-color: teal;
    /* margin-top: 20px; */
    text-align: center;
    font-size: 40px;
}

h2 {
    color: lightsteelblue;
    background-color: teal;
    /* margin: 5% ; */
    text-align: center;
    font-size: 30px;
}

p {
    color: lightsteelblue;
    background-color: teal;
    /* margin: 5% ; */
    text-align: center;
    font-size: 30px;

}


/* #passwordLength {

    width: 98%;
} */

label {

    width: 100%;
}



div {
    margin: auto;
  width: 60%;
  padding: 10px;
}

#passwordLength {
    margin: auto;
    width: 98%;
    padding: 10px;
    border-color: teal;
    background-color: lightsteelblue;
    border-width: 3px;

}


textarea {
    border-color: teal;
    background-color: lightsteelblue;
    border-width: 3px;
    width: 100%;
    height: 20%;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

button {
    width: 100%;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    color: lightsteelblue;
    background-color: teal;
    margin: 10px;
}

form {
    width: 100%;
    line-height: 30px;
    font-size: 25px;
    border-radius: 5px;
    color: lightsteelblue;
    background-color: teal;
    margin: 10px;
    align-items: center;

}

#form2 {

align-items: center;
justify-content: center;

}
